<!-------------------------------Footer---------------------------------->
<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="#about" class="nav-link">About us</a>
        </li>
        <li class="footer-nav-item">
          <a href="#order" class="nav-link">Customer order</a>
        </li>
        <li class="footer-nav-item">
          <a href="#collection" class="nav-link">Our collection</a>
        </li>
        <li class="footer-nav-item">
          <a href="#testimonials" class="nav-link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <p class="footer-slogan-text slogan">
      A touch of <span>Ukrainian</span> culture in every embroidery
    </p>
  </div>
</footer>
