<header class="header">
  <a href="./index.html" class="logo-link">
    <img
      src="./images/logo.svg"
      alt="Logo"
      class="logo-icon"
      width="44"
      height="39"
    />
  </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="#about" class="header-nav-link">About us</a>
      </li>
      <li class="header-nav-item">
        <a href="#collection" class="header-nav-link">Our collection</a>
      </li>
      <li class="header-nav-item">
        <a href="#order" class="header-nav-link">Customer order</a>
      </li>
      <li class="header-nav-item">
        <a href="#testimonials" class="header-nav-link">Testimonials</a>
      </li>
    </ul>
  </nav>
  <adress class="header-address"
    ><a href="tel:+380684439426" class="header-tel"
      >+380 (68) 443-94-26</a
    ></adress
  >
  <ul class="header-soc-list">
    <li class="header-soc-item">
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        class="header-soc-link"
      >
        <svg width="28" height="28" class="header-soc-icon">
          <use href=""></use></svg
      ></a>
    </li>
    <li class="header-soc-item">
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        class="header-soc-link"
      >
        <svg width="28" height="28" class="header-soc-icon">
          <use href=""></use></svg
      ></a>
    </li>
    <li class="header-soc-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        target="_blank"
        class="header-soc-link"
      >
        <svg width="28" height="28" class="header-soc-icon">
          <use href=""></use></svg
      ></a>
    </li>
  </ul>
</header>
