<section class="section hero-section">
  <div class="container hero-container">
    <h1 class="slogan hero-title">
      Reviving the traditional <span>Ukrainian</span> artistry in every stitch.
    </h1>

    <div class="hero-link-wrapper">
      <a class="hero-button-link" href="#order">
        Order
        <svg class="hero-button-icon" width="26" height="10">
          <use href="./img/icons.svg#arrow"></use>
        </svg>
      </a>
    </div>

    <picture>
      <source
        srcset="
          ./img/desktop/Hero/hero-girl-desk1x.jpg 1x,
          ./img/desktop/Hero/hero-girl-desk2x.jpg 2x,
          ./img/desktop/Hero/hero-girl-desk3x.jpg 3x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/tablet/Hero/hero-girl-tab1x.jpg 1x,
          ./img/tablet/Hero/hero-girl-tab2x.jpg 2x,
          ./img/tablet/Hero/hero-girl-tab3x.jpg 3x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/Hero/hero-girl-mob1x.jpg 1x,
          ./img/mobile/Hero/hero-girl-mob2x.jpg 2x,
          ./img/mobile/Hero/hero-girl-mob3x.jpg 3x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-photo"
        src="./img/desktop/Hero/hero-girl-desk1x.jpg"
        alt="Girl in grey vyshyvanka"
        width="392"
        height="545"
      />
    </picture>
  </div>
</section>
