<section class="collection-section section" id="collection">
    <div class="collection-container container">
        <h2 class="section-title collection-title">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-poltava-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-poltava-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-poltava-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-poltava-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-poltava-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-poltava-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-poltava-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-poltava-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-poltava-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-poltava-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-poltava-mob2x.jpg 2x,
              ./img/mobile/Collection/collection-poltava-mob3x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
            ./img/desk1440/Collection/collection-poltava-desk-1440px1x.jpg" alt="August Poltava women's blousering"
                          width="400" height="430" />
                </picture>

                <h3 class="collection-subtitle">August Poltava women's blousering</h3>
                <p class="collection-text">3300 UAH</p>
                <p class="collection-desc">
                    Fascinating embroidery and meticulously stitched details make this blouse distinctive, giving it a
                    unique character. Crafted from high-quality linen material, this embroidered blouse is comfortable
                    and breathable, perfect for hot summer days. Its unrivaled design will highlight your individuality
                    and enhance any outfit.
                </p>
            </li>

            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-gorgany-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-gorgany-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-gorgany-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-gorgany-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-gorgany-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-gorgany-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-gorgany-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-gorgany-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-gorgany-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-gorgany-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-gorgany-mob2x.jpg 2x,
              ./img/mobile/Collection/collection-gorgany-mob3x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
              ./img/desk1440/Collection/collection-gorgany-desk-1440px1x.jpg" alt="Women's blouse Gorgany" width="400"
                          height="430" />
                </picture>

                <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
                <p class="collection-text">3350 UAH</p>
                <p class="collection-desc">
                    A Gorgany blouse showcasing intricate, colorful Ukrainian embroidery, a symbol of artistry and
                    timeless tradition, perfect for cultural celebrations. This exquisite blouse features an array of
                    vibrant and meticulously crafted embroidery, making it a true work of art that represents the rich
                    cultural heritage of Ukraine.
                </p>
            </li>

            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-krimea-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-krimea-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-krimea-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-krimea-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-krimea-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-krimea-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-krimea-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-krimea-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-krimea-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-krimea-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-krimea-mob2x.jpg 2x,
              ./img/mobile/Collection/collection-krimea-mob3x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
            ./img/desk1440/Collection/collection-krimea-desk-1440px1x.jpg" alt="Women's blouse Crimea" width="400"
                          height="430" />
                </picture>

                <h3 class="collection-subtitle">Women's blouse Crimea</h3>
                <p class="collection-text">4000 UAH</p>
                <p class="collection-desc">
                    The Crimea blouse, adorned with traditional patterns, pays homage to its rich heritage, adding
                    elegance and authenticity to your wardrobe. This exquisite blouse is a tribute to the cultural
                    legacy of Crimea, featuring traditional patterns and designs that have been cherished for
                    generations. Wearing this blouse is like wearing a piece of history, as it beautifully represents
                    the heritage of the region.
                </p>
            </li>

            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-verkhovina-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-verkhovina-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-verkhovina-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-verkhovina-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-verkhovina-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-verkhovina-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-verkhovina-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-verkhovina-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-verkhovina-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-verkhovina-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-verkhovina-mob2x.jpg 2x,
              ./img/mobile/Collection/collection-verkhovina-mob3x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
            ./img/desk1440/Collection/collection-verkhovina-desk-1440px1x.jpg" alt="Men's shirt Verkhovina" width="400"
                          height="430" />
                </picture>

                <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
                <p class="collection-text">3100 UAH</p>
                <p class="collection-desc">
                    The Verkhovina men's shirt masterfully fuses tradition with contemporary fashion, creating a
                    distinctive style that exudes charm and cultural richness. This remarkable men's shirt seamlessly
                    blends traditional craftsmanship with modern aesthetics, resulting in a unique and captivating
                    design. With The Verkhovina men's shirt, you embrace both the past and the present,
                    showcasing a fashion-forward look that carries the spirit of Ukrainian heritage.
                </p>
            </li>

            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-mountain-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-mountain-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-mountain-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-mountain-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-mountain-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-mountain-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-mountain-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-mountain-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-mountain-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-mountain-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-mountain-mob2x.jpg 2x,
              ./img/mobile/Collection/collection-mountain-mob3x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
            ./img/desk1440/Collection/collection-mountain-desk-1440px1x.jpg" alt="Mountain men's shirt" width="400"
                          height="430" />
                </picture>

                <h3 class="collection-subtitle">Mountain men's shirt</h3>
                <p class="collection-text">3300 UAH</p>
                <p class="collection-desc">
                    Explore the world in this rugged mountain-inspired shirt, blending adventurous outdoor spirit with a
                    timeless design that evokes nature's grandeur. This exceptional shirt draws inspiration from the
                    majestic mountains and the sense of adventure they embody. Crafted with an enduring design, it pays
                    homage to the enduring beauty of the great outdoors.
                </p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="
              ./img/desk1440/Collection/collection-yasen-desk-1440px1x.jpg 1x,
              ./img/desk1440/Collection/collection-yasen-desk-1440px2x.jpg 2x,
              ./img/desk1440/Collection/collection-yasen-desk-1440px3x.jpg 3x
            " media="(min-width: 1440px)" />
                    <source srcset="
              ./img/desktop/Collection/collection-yasen-desk1x.jpg 1x,
              ./img/desktop/Collection/collection-yasen-desk2x.jpg 2x,
              ./img/desktop/Collection/collection-yasen-desk3x.jpg 3x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./img/tablet/Collection/collection-yasen-tab1x.jpg 1x,
              ./img/tablet/Collection/collection-yasen-tab2x.jpg 2x,
              ./img/tablet/Collection/collection-yasen-tab3x.jpg 3x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./img/mobile/Collection/collection-yasen-mob1x.jpg 1x,
              ./img/mobile/Collection/collection-yasen-mob1x.jpg 2x,
              ./img/mobile/Collection/collection-yasen-mob1x.jpg 3x
            " media="(max-width: 767px)" />
                    <img class="collection-img" src="
            ./img/desk1440/Collection/collection-yasen-desk-1440px1x.jpg" alt="Men's shirt Yasen" width="400"
                          height="430" />
                </picture>

                <h3 class="collection-subtitle">Men's shirt Yasen</h3>
                <p class="collection-text">1700 UAH</p>
                <p class="collection-desc">
                    The Yasen men's shirt epitomizes the artistry of Ukrainian craftsmanship and timeless elegance,
                    effortlessly blending tradition with sophistication, leaving a lasting impression. This exceptional
                    men's shirt is a true masterpiece, showcasing the exquisite craftsmanship that Ukraine is renowned
                    for. Its intricate patterns and attention to detail are a testament to the rich cultural heritage
                    and the skilled hands that created it.
                </p>
            </li>
        </ul>
    </div>
    <div id="lightbox-container">
        <div id="lightbox-backdrop"></div>
        <div id="lightbox-content">
            <button type="button" id="lightbox-close">
                <svg width="26" height="26" class="close-menu-icon">
                    <use href="./img/icons.svg#menu-close"></use>
                </svg>
            </button>
            <div class="lightbox-image-wrapper">
                <img id="lightbox-image" alt="" src="js" width="400" height="430" />
                <ul class="size-list">
                    <li class="size-item">XXS</li>
                    <li class="size-item">XS</li>
                    <li class="size-item">S</li>
                    <li class="size-item">M</li>
                    <li class="size-item">L</li>
                    <li class="size-item">XL</li>
                    <li class="size-item">XXL</li>
                    <li class="size-item">XXXL</li>
                </ul>
                <div class="lightbox-hand-made">
                    <img class="hand-made-symbol" srcset="
                          ./img/tablet/Hero/star-tab-desk1x.png 1x,
                          ./img/tablet/Hero/star-tab-desk2x.png 2x,
                          ./img/tablet/Hero/star-tab-desk3x.png 3x
                        " src="./img/tablet/Hero/star-tab-desk1x.png" alt="Star symbol" width="49" height="49" />
                    <p class="hand-made-text">all embroidery is made by hand</p>
                </div>
            </div>
            <div class="lightbox-content-wrapper">
                <h3 class="lightbox-subtitle"></h3>
                <div class="lightbox-text text">
                    <p hidden>Description</p>
                    <p class="lightbox-desc"></p>
                </div>
                <div class="lightbox-text text">
                    <p>Crafted using only 100% pure organic materials (flax, cotton)</p>
                </div>
                <p class="lightbox-item-price">1700 UAH</p>
                <a class="button lightbox-anchor-link" href="#order">
                    Order
                    <svg class="lightbox-anchor-icon" width="26" height="10">
                        <use href="./img/icons.svg#arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>