

<section class="collection"   id="collection">
    <div class="container collection-container">
        <h2 class="collection-title title">Our collection</h2>
        <ul class="collection-list">
    
            <li class="collection-item">
                <div class="collection-item-div">

                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/desktop/Collection/collection-poltava-desk1x.jpg 1x, 
                            ./img/desktop/Collection/collection-poltava-desk2x.jpg 2x,
                            ./img/desktop/Collection/collection-poltava-desk3x.jpg 3x"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/desktop/Collection/collection-poltava-tab1x.jpg 1x, 
                            ./img/desktop/Collection/collection-poltava-tab2x.jpg 2x,
                            ./img/desktop/Collection/collection-poltava-tab3x.jpg 3x"
                        />
                        <img
                            src="./img/mobile/Collection/collection-poltava-mob1x.jpg"
                            srcset="./img/mobile/Collection/collection-poltava-mob2x.jpg 2x"
                            alt="AUGUST Poltava women's blouseRING"
                            width="335" height="400"/>
                    </picture>

                    <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
                    <p class="collection-text">3300 UAH</p>
                </div>
            </li>
    
            <li class="collection-item">
                <div class="collection-item-div">

                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/desktop/Collection/collection-gorgany-desk1x.jpg 1x, 
                            ./img/desktop/Collection/collection-gorgany-desk2x.jpg 2x,
                            ./img/desktop/Collection/collection-gorgany-desk3x.jpg 3x"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/desktop/Collection/collection-gorgany-tab1x.jpg 1x, 
                            ./img/desktop/Collection/collection-gorgany-tab2x.jpg 2x,
                            ./img/desktop/Collection/collection-gorgany-tab3x.jpg 3x"
                        />
                        <img
                            src="./img/mobile/Collection/collection-gorgany-mob1x.jpg"
                            srcset="./img/mobile/Collection/collection-gorgany-mob2x.jpg 2x"
                            alt="Women's blouse Gorgany"
                            width="335" height="400"/>
                    </picture>

                    <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
                    <p class="collection-text">3350 UAH</p>
                </div>
            </li>
    
            <li class="collection-item">
                <div class="collection-item-div">
                    <picture>
                            <source
                                media="(min-width: 1280px)"
                                srcset="./img/desktop/Collection/collection-krimea-desk1x.jpg 1x, 
                                ./img/desktop/Collection/collection-krimea-desk2x.jpg 2x,
                                ./img/desktop/Collection/collection-krimea-desk3x.jpg 3x"
                            />
                            <source
                                media="(min-width: 768px)"
                                srcset="./img/desktop/Collection/collection-krimea-tab1x.jpg 1x, 
                                ./img/desktop/Collection/collection-krimea-tab2x.jpg 2x,
                                ./img/desktop/Collection/collection-krimea-tab3x.jpg 3x"
                            />
                            <img
                                src="./img/mobile/Collection/collection-krimea-mob1x.jpg"
                                srcset="./img/mobile/Collection/collection-krimea-mob2x.jpg 2x"
                                alt="Women's blouse Crimea"
                                width="335" height="400"/>

                    <h3 class="collection-subtitle">Women's blouse Crimea</h3>
                    <p class="collection-text">4000 UAH</p>
                </div>
            </li>
    
            <li class="collection-item">
                <div class="collection-item-div">
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/desktop/Collection/collection-verkhovina-desk1x.jpg 1x, 
                            ./img/desktop/Collection/collection-verkhovina-desk2x.jpg 2x,
                            ./img/desktop/Collection/collection-verkhovina-desk3x.jpg 3x"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/desktop/Collection/collection-verkhovina-tab1x.jpg 1x, 
                            ./img/desktop/Collection/collection-verkhovina-tab2x.jpg 2x,
                            ./img/desktop/Collection/collection-verkhovina-tab3x.jpg 3x"
                        />
                        <img
                            src="./img/mobile/Collection/collection-verkhovina-mob1x.jpg"
                            srcset="./img/mobile/Collection/collection-verkhovina-mob2x.jpg 2x"
                            alt="Women's blouse Crimea"
                            width="335" height="400"/>
                    </picture>
            
                    <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
                    <p class="collection-text">3100 UAH</p>
                </div>
            </li>
    
            <li class="collection-item">
                <div class="collection-item-div">
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/desktop/Collection/collection-mountain-desk1x.jpg 1x, 
                            ./img/desktop/Collection/collection-mountain-desk2x.jpg 2x,
                            ./img/desktop/Collection/collection-mountain-desk3x.jpg 3x"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/desktop/Collection/collection-mountain-tab1x.jpg 1x, 
                            ./img/desktop/Collection/collection-mountain-tab2x.jpg 2x,
                            ./img/desktop/Collection/collection-mountain-tab3x.jpg 3x"
                        />
                        <img
                            src="./img/mobile/Collection/collection-mountain-mob1x.jpg"
                            srcset="./img/mobile/Collection/collection-mountain-mob2x.jpg 2x"
                            alt="Mountain men's shirt"
                            width="335" height="400"/>
                    </picture>
                    
                    <h3 class="collection-subtitle">Mountain men's shirt</h3>
                    <p class="collection-text">3300 UAH</p>
                </div>
            </li>
    
            <li class="collection-item">
                <div class="collection-item-div">
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/desktop/Collection/collection-yasen-desk1x.jpg 1x, 
                            ./img/desktop/Collection/collection-yasen-desk2x.jpg 2x,
                            ./img/desktop/Collection/collection-yasen-desk3x.jpg 3x"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/desktop/Collection/collection-yasen-tab1x.jpg 1x, 
                            ./img/desktop/Collection/collection-yasen-tab2x.jpg 2x,
                            ./img/desktop/Collection/collection-yasen-tab3x.jpg 3x"
                        />
                        <img
                            src="./img/mobile/Collection/collection-yasen-mob1x.jpg"
                            srcset="./img/mobile/Collection/collection-yasen-mob2x.jpg 2x"
                            alt="Men's shirt Yasen"
                            width="335" height="400"/>
                    </picture>
                    
                    <h3 class="collection-subtitle">Men's shirt Yasen</h3>
                    <p class="collection-text">1700 UAH</p>
                </div>
            </li>
    
        </ul>

    </div>
    </section>  