<section class="testimonials-section section">
    <div class="testimonials-container container">
        <h2 class="testimonials-section-title section-title">Testimonials</h2>
        <ul class="testimonials-list">
            <li class="testimonials-item">
                <img class="testimonials-image" width="64" height="64" srcset="
                                ./img/testimonials/testimonials-mariatkachuk1x.png 1x,
                                ./img/testimonials/testimonials-mariatkachuk2x.png 2x,
                                ./img/testimonials/testimonials-mariatkachuk3x.png 3x"
                      src="./img/testimonials/testimonials-mariatkachuk1x.png" alt="Customer photo">
                <h3 class="testimonials-item-title">Maria Tkachuk</h3>
                <p class="testimonials-item-text text">I was pleasantly surprised by the variety of embroidery offered
                    by Vyshyvanka Vibes. They have models for every taste - from classic to modern. I bought an
                    embroidered dress to celebrate a special occasion and received impeccable service and refinement in
                    every detail.</p>
            </li>
            <li class="testimonials-item">
                <img class="testimonials-image" width="64" height="64" srcset="
                                                ./img/testimonials/testimonials-nataliachatuk1x.png 1x,
                                                ./img/testimonials/testimonials-nataliachatuk2x.png 2x,
                                                ./img/testimonials/testimonials-nataliachatuk3x.png 3x"
                      src="./img/testimonials/testimonials-nataliachatuk1x.png" alt="Customer photo">
                <h3 class="testimonials-item-title">Sergey Rybachok</h3>
                <p class="testimonials-item-text text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka
                    are simply masterpieces! I fell in love with the quality of the materials and the skill of the
                    artisans behind each product. This is my favorite embroidery shop where I always find something
                    special and unique.</p>
            </li>
            <li class="testimonials-item">
                <img class="testimonials-image" width="64" height="64" srcset="
                                                ./img/testimonials/testimonials-sergeyrybachok1x.png 1x,
                                                ./img/testimonials/testimonials-sergeyrybachok2x.png 2x,
                                                ./img/testimonials/testimonials-sergeyrybachok3x.png 3x"
                      src="./img/testimonials/testimonials-sergeyrybachok1x.png" alt="Customer photo">
                <h3 class="testimonials-item-title">Natalia Chatuk</h3>
                <p class="testimonials-item-text text">Vyshyvanka Vibes is a real find for everyone who appreciates
                    Ukrainian culture. Their embroidery reflects the spirit and traditions of our people. I not only buy
                    embroidered shirts for myself, but also give them to my friends abroad as a symbol of our beauty and
                    national pride.</p>
            </li>
        </ul>
    </div>
</section>