body {
  font-family: "Manrope", sans-serif;
  color: #FCF9F9;
  background-color: #1C2225;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* main-title+slogan (sections "Hero", "Footer"*/
.slogan {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

.slogan span {
  color: #ECD979;
}

/* section-title (sections "About Us", "Our collection", "Your order", "Testimonials") */
.section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.section-title span {
  color: #ECD979;
}

/* paragraph (sections "About us", section "Testimonials") */
.text {
  color: rgba(252, 249, 249, 0.40);
  font-size: 14px;
  line-height: normal;
}

.about-section .text {
  letter-spacing: 0.05em;
}

/* navigation-link (sections "Header", "Footer") */
.nav-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 300ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #ECD979;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .slogan {
    font-size: 54px;
    line-height: 1.19;
  }

  .section-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.45;
  }

  .text {
    font-size: 16px;
  }

  .about-section .text {
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}