/* Тут будуть утиліти */
/* Hero-title+footer-slogan */
.hero-title {
  color: #FCF9F9;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  /* 122.727% */
  letter-spacing: -1.32px;
}