body {
  font-family: 'Manrope', sans-serif;
  color: #fcf9f9;
  background-color: teal;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* main-title+slogan (sections "Hero", "Footer"*/
.slogan {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

.slogan span {
  color: #ecd979;
}

/* section-title (sections "About Us", "Our collection", "Your order", "Testimonials") */
.section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}

.section-title span {
  color: #ecd979;
}

/* paragraph (sections "About us", section "Testimonials") */
.text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: normal;
}

.about-section .text {
  letter-spacing: 0.05em;
}

/* navigation-link (sections "Header", "Footer") */
.nav-link {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color 300ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #ecd979;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 36px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

@media screen and (min-widht: 1280px) and (max-widht: 1339px) {
  .order-container {
    padding-left: 64px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .slogan {
    font-size: 54px;
    line-height: 1.19;
  }

  .section-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .text {
    font-size: 16px;
  }

  .about-section .text {
    letter-spacing: 0.04em;
  }

  .button {
    padding-left: 39px;
    padding-right: 39px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.slogan {
  font-size: 64px;
  line-height: 1.16;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1260px;
  }
}