.footer {

    border-top: 1px solid rgba(252, 249, 249, 0.10);
}

@media screen and (min-resolution: 192dpi) {
    .footer-container {
        background-image: url(../img/mobile/Footer/footer-elements-mob2x.png);
    }
}

@media screen and (min-resolution: 288dpi) {
    .footer-container {
        background-image: url(../img/mobile/Footer/footer-elements-mob3x.png);
    }
}

.footer-container {
    background-image: url(../img/mobile/Footer/footer-elements-mob1x.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 375px 212px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    /* Відштовхує й прибиває фонове зображення до низу футера */
    padding-bottom: 292px;
}

.footer-nav-list {
    display: flex;
    gap: 25px 40px;
    flex-wrap: wrap;
}

.footer-nav-item {
    flex-basis: calc((100% - 40px) / 2);
}

@media screen and (min-width: 768px) {
    .footer-container {
        background-image: url(../img/tablet/Footer/footer-elements-tab1x.png);
        /* прибиваю до правого верхнього краю footer-container */
        background-position-x: right;
        background-position-y: 0;
        background-size: 174px 370px;
        padding-right: 215px;
        row-gap: 80px;
    }

    @media screen and (min-resolution: 192dpi) {
        .footer-container {
            background-image: url(../img/tablet/Footer/footer-elements-tab2x.png);
        }
    }

    @media screen and (min-resolution: 288dpi) {
        .footer-container {
            background-image: url(../img/tablet/Footer/footer-elements-tab3x.png);
        }
    }

    .footer-nav-list {
        gap: 25px;
        justify-content: flex-start;

    }

    .footer-nav-item {
        flex-basis: auto;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        background-image: url(../img/desktop/Footer/footer-elements-desk1x.png);
        background-position-x: right;
        background-size: 336px 363px;
        padding-right: 426px;
        /* padding-left: 100px; */
        row-gap: 80px;
    }

    @media screen and (min-resolution: 192dpi) {
        .footer-container {
            background-image: url(../img/desktop/Footer/footer-elements-desk2x.png);
        }
    }

    @media screen and (min-resolution: 288dpi) {
        .footer-container {
            background-image: url(../img/desktop/Footer/footer-elements-desk3x.png);
        }
    }
}