.footer {
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    height: 649px;
    flex-shrink: 0;

}

.background-image {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../img/mobile/Footer/footer-elements-mob1x.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    width: 452px;
    height: 401px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container {}

.footer-nav {}

.footer-nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.footer-nav-item {}

.footer-nav-link {}

.footer-slogan-text {
    color: #FCF9F9;
    font-size: 44px;
    line-height: 1.23;
    /* 122.727% */
    letter-spacing: -0.03em;
}

.footer-slogan-word {
    color: #ECD979;
    font-family: Manrope;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: -0.03em;
}