.header {
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
}

.logo-icon {
}

.header-nav {
}

.header-nav-list {
  display: none;
  gap: 25px;
}

.header-nav-item {
}

.header-nav-link {
}

/* .header-nav-link:hover,
.header-nav-link:focus {
  color: #ecd979;
} */

.header-address {
  font-style: normal;
  display: none;
  margin-right: 20px;
  margin-left: auto;
}

.header-tel {
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
  display: inline-flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.header-soc-list {
  display: inline-flex;
  gap: 12px;
}

.header-soc-item {
}

.header-soc-link:hover,
.header-soc-link:focus {
  border-color: #ecd979;
}

.header-soc-link {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-soc-icon {
  fill: #fcf9f9;
}

.opn-menu-btn {
  background: transparent;
}

.opn-menu-icon {
  stroke: #ecd979;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .logo-link {
    margin-right: 60px;
  }

  .header-nav-list {
    display: inline-flex;
  }

  .header-address {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
}
