.hero-section {}

.container {}

.hero-container {}

.slogan {}

.hero-title {
  margin-bottom: 20px;
}

.hero-button-link {
  display: flex;
  margin-bottom: 40px;
  text-align: center;
  padding: 14px 36px;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
}

.hero-button-icon {
  transform: rotate(-30deg);
  fill: #ECD979;
}

.hero-photo {}