.collection-section {
    background-image: url(../img/mobile/Collection/collection-elements-mob1x.png);
    background-repeat: no-repeat;
    background-position: left 0 top 338px;
    background-size: 72px 177px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 144dpi),
(min-resolution: 2dppx) {
    .collection-section {
        background-image: url(../img/mobile/Collection/collection-elements-mob2x.png);
    }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 216dpi),
(min-resolution: 3dppx) {
    .collection-section {
        background-image: url(../img/mobile/Collection/collection-elements-mob3x.png);
    }
}

.collection-title {
    text-align: center;
    margin-bottom: 40px;
}

.collection-item:not(:last-child) {
    margin-bottom: 20px;
}

.collection-img {
    border-radius: 4px;
    margin-bottom: 18px;
}

.collection-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 14px;
}

.collection-text {
    color: rgba(252, 249, 249, 0.40);
    font-size: 14px;
    line-height: 1.0;
    letter-spacing: 0.05em;
}

#lightbox-container {
    display: none;
}

@media screen and (min-resolution: 144dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .collection-section {
        background-image: url(../img/mobile/Collection/collection-elements-mob2x.png);
    }
}

@media screen and (min-resolution: 216dpi),
screen and (min-resolution: 3dppx),
screen and (min-device-pixel-ratio: 3) {
    .collection-section {
        background-image: url(../img/mobile/Collection/collection-elements-mob3x.png);
    }
}

@media screen and (min-width: 768px) {
    .collection-section {
        background-image: url(../img/tablet/Collection/collection-elements-tab1x.png);
        background-size: 114px 300px;
        background-position: left 0 top 271px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
        .collection-section {
            background-image: url(../img/tablet/Collection/collection-elements-tab2x.png);
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 216dpi),
    (min-resolution: 3dppx) {
        .collection-section {
            background-image: url(../img/tablet/Collection/collection-elements-tab3x.png);
        }
    }

    .collection-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .collection-item {
        width: calc((100% - 20px) / 2);
    }

    .collection-item:not(:last-child) {
        margin-bottom: 0;
    }

    .collection-subtitle {
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .collection-text {
        font-size: 18px;
    }

    /* ====== Image preview ====== */
    #lightbox-container {
        display: block;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 50;
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.0);
    }

    #lightbox-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        filter: blur(5);
    }

    #lightbox-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    #lightbox-image {
        width: 600px;
        border-radius: 4px;
    }

    #lightbox-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        stroke: #1c2225;
        width: 26px;
        height: 26px;
        transition: transform 100ms ease-in-out;
    }

    /* ====== End ====== */
}

@media screen and (min-width: 1280px) {
    .collection-section {
        background-image: url(../img/desktop/Collection/collection-elements-desk1x.png);
        background-size: 169px 300px;
        background-position: left 0 top 296px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 144dpi),
    (min-resolution: 2dppx) {
        .collection-section {
            background-image: url(../img/desktop/Collection/collection-elements-desk2x.png);
        }
    }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 216dpi),
    (min-resolution: 3dppx) {
        .collection-section {
            background-image: url(../img/desktop/Collection/collection-elements-desk3x.png);
        }
    }

    .collection-list {
        gap: 40px 20px;
    }

    .collection-item {
        width: calc((100% - 40px) / 3);
    }
}