.order-section {
  background-image: url(../img/mobile/order/order-girlingreen-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center top 40px;
  background-size: 375px 550px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .order-section {
    background-image: url(../img/mobile/order/order-girlingreen-mob2x.jpg);
  }
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
  .order-section {
    background-image: url(../img/mobile/order/order-girlingreen-mob3x.jpg);
  }
}

.order-container {
  padding-top: 630px;
}

.order-title {
  margin-bottom: 40px;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.interactive-input {
  position: relative;
  color: rgba(252, 249, 249, 0.5);
  width: 100%;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.form-input:hover,
.form-input:focus,
.textarea:hover,
.textarea:focus {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.form-label {
  position: absolute;
  top: 15px;
  left: 16px;
}

.form-input:focus-within ~ .form-label,
.textarea:focus-within ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label,
.textarea:not(:placeholder-shown) ~ .form-label {
  color: #ecd979;
  top: -5px;
  left: 8px;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}

.textarea {
  width: 100%;
  height: 170px;
  resize: none;
  background-color: transparent;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  outline: none;
  color: #fcf9f9;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
}

.order-button {
  min-width: 145px;
  height: 49px;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;
  color: currentColor;
}

.button-icon {
  transform: rotate(-30deg);
  fill: #ecd979;
}

.order-button:hover,
.order-button:focus {
  border: 1px solid #ecd979;
}

.order-button:hover .button-icon {
  animation: 3s linear running rotation-trick;
}

@keyframes rotation-trick {
  0% {
    transform: rotate(330deg);
  }

  33% {
    transform: rotate(220deg);
  }

  66% {
    transform: rotate(110deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg) translateX(30px);
  }
}

.order-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .order-section {
    background-image: url(../img/tablet/order/order-girlingreen-tab1x.jpg), url(../img/tablet/order/order-elements-tab1x.png);
    background-repeat: no-repeat;
    background-size: 768px 776px, 323px 484px;
    background-position: center top 50px, left 0 bottom 0;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .order-section {
      background-image: url(../img/tablet/order/order-girlingreen-tab2x.jpg), url(../img/tablet/order/order-elements-tab2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .order-section {
      background-image: url(../img/tablet/order/order-girlingreen-tab3x.jpg), url(../img/tablet/order/order-elements-tab3x.png);
    }
  }

  .order-container {
    padding-top: 876px;
  }

  .order-title {
    max-width: 542px;
  }

  .order-form {
    max-width: 508px;
    margin-bottom: 100px;
  }

  .form-input {
    font-size: 16px;
  }

  .textarea {
    font-size: 16px;
  }

  .order-button {
    min-width: 168px;
    margin-left: 0;
  }

  .order-img {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .order-section {
    background-image: url(../img/desktop/order/order-girlingreen-desk1x.jpg), url(../img/desktop/order/order-elements-desk1x.png);
    background-size: 1282px 776px, 289px 484px;
    background-position: center top 75px, left 0 bottom 75px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .order-section {
      background-image: url(../img/desktop/order/order-girlingreen-desk2x.jpg), url(../img/desktop/order/order-elements-desk2x.png);
    }
  }

  @media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
    .order-section {
      background-image: url(../img/desktop/order/order-girlingreen-desk3x.jpg), url(../img/desktop/order/order-elements-desk3x.png);
    }
  }

  .order-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding-top: 926px;
  }

  .order-img {
    width: 100%;
  }

  .order-form {
    margin-bottom: 0;
  }
}